.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    height: 140px;
    width: 80%;
    align-self: center;

    h1 {
        font-weight: 700;
    }
}